<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button [routerLink]="'/accounts'"> Activity registration </a>
      <a mat-button [routerLink]="'/create-account'"> Activity list </a>
      <a mat-button [routerLink]="'/contacts'"> Enroll </a>
     

    </div>
  </mat-toolbar-row>

  
</mat-toolbar>